

.main{
    background-image: url(../images/fon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    padding: 20px;
    z-index: 3;
}

h1{
    font-weight: 500;
    font-size: 50px;
    font-family: 'SONGER Condensed';
    line-height: 90%;
    text-align: center;
    color: #fff;
    border-radius: 27px;
    display: block;
    background: rgba(255, 255, 255, 0.051);
    backdrop-filter: blur(3px);
    border: 1px solid #ffffff33;
    text-transform: uppercase;
    padding: 10px 15px;
    width: 100%;
}

.thankYou-img{
    width: 200px;
    height: 150px;
}

.thankYou-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.thankYou-button{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    position: relative;
    margin-top: 20px;
    width: 295px;
    height: 88px;
    color: #fff;
    border-radius: 200px;
    background: linear-gradient(23deg, #ea0101 0%, #240101 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.thankYou-button:active{
    opacity: 0.9;
    transform: scale(1.02);
}

.thankYou-button img{
    position: absolute;
    right: -35px;
    bottom: -10px;
}

.top{
    position: absolute;
    top: 0;
    margin: 0 auto;
    z-index: 1;
}

.stars{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.bottom{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    z-index: 1;
}